h1{
    text-align: center;
}

#contanier{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px;
    background-color: bisque;
    padding: 20px 30px;
}
#todo-list{
    margin-top: 10px;
}

.todo-item {
    padding: 10px 20px;
    background-color: rgb(156, 245, 156);
    box-shadow: 0px 0px 14px 0px darkgreen;
    text-align: left;
    border-radius: 20px;
}

.hide{
    display: none;
}
.show{
    display: block;
}